  body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  align-items: center;
  
  background-color: rgb(5, 5, 5);
}

.list{
  height: 90vh;
  flex-basis: 100%;

  display: flex;
  overflow: hidden;
  justify-content: space-evenly;

  gap:1rem;
}

.list__box{
  max-height: 100%;
  max-width: 33%;

  margin: auto;
  
  display: flex;
  justify-content: center;
}

.box__img{
  max-width: 100%;
  width: auto;
}

.button{
  width: 4rem;
  height: 2rem;

  border:0px;
  border-radius: 20% 50% / 20% 50%;

  font-family: 'Oxygen';
  background-color: pink;
  color: black;
}

.button:hover{
  background-color: rgb(85, 15, 15);
  cursor: pointer;
  color: wheat
}

.bg__single{
  position: absolute;
  min-height: 100vh;
  min-width: 100vw;
  z-index: 5;

  left: 0;
  top: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  
  background-color: rgba(0, 0, 0, 0.75);
}

.single{
  z-index: 6;
  
  max-width: 80vw;
  max-height: 80vh;
  flex-basis: 100%;

  margin: auto;
  
  background-color: #fff;
}

@media (max-width: 767px) {
  .list{
    height: 90%;

    flex-direction: column;
  }
  .list__img{
    max-height: 33%;
    max-width: 80%;

    margin-left: auto;
    margin-right: auto;
  }
}
